:root {
  --main-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --hover-foces-color: #2196f3;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
}
.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
a {
  text-decoration: none;
}

/*----header----*/
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-conteiner {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-foces-color);
}
.logo-dark {
  color: var(--main-color);
}
.logo-white {
  color: var(--secondary-text-color);
}
.section-nav {
  display: flex;
  align-items: center;
  border-bottom: var(--main-color);
}
.menu-nav-list {
  display: flex;
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.menu-nav-list .menu-nav-item:first-child {
  margin-left: 0;
}
.menu-nav-item {
  margin-left: 50px;
}
.header-logo {
  margin-right: 93px;
}
.menu-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav.current {
  color: var(--hover-foces-color);
}
.menu-nav.current:after {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--hover-foces-color);
  bottom: -32px;
}
.menu-nav-item :hover,
.menu-nav-item :focus {
  color: var(--hover-foces-color);
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-mail-item {
  margin-right: 50px;
}
.header-mail-item :hover,
.header-mail-item :focus {
  color: var(--hover-foces-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel-item :hover,
.header-tel-item :focus {
  color: var(--hover-foces-color);
}
.header-contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-tel-item :hover .contact-icon,
.header-tel-item :focus .contact-icon {
  fill: var(--hover-foces-color);
}
.header-mail-item :hover .contact-icon,
.header-mail-item :focus .contact-icon {
  fill: var(--hover-foces-color);
}

/*----index-html----*/
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*----heading-section----*/
.heading-section {
  padding: 200px 0;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.heading-conteiner {
  text-align: center;
}
.heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 30px;
  width: 696px;
  margin-right: auto;
  margin-left: auto;
}
.btn {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

/*----feature-section----*/
.feature-list {
  display: flex;
}
.feature-list .feature-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}
.feature-list .feature-item:nth-child(4n) {
  margin-right: 0px;
}
.subtitle {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.feature-thumb {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
/*----work-section----*/
.work-section {
  padding-top: 0;
}
.work-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.work-list {
  display: flex;
}
.work-list .work-item:first-child {
  margin-left: 0;
}
.work-item {
  margin-left: 30px;
  position: relative;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
}
.label-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/*----command-section----*/
.command-section {
  background-color: #f5f4fa;
}
.command-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 50px;
}
.command-list {
  display: flex;
}
.command-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.command-list .command-item:last-child {
  margin-right: 0;
}
.command-item-discription {
  padding-bottom: 30px;
  padding-top: 30px;
}
.name {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 10px;
}
.position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social-item:last-child {
  margin-right: 0;
}
.social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--hover-foces-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--secondary-text-color);
}
/*----clients-section----*/
.clients-title {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.clients-item:last-child {
  margin-right: 0;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border-color: var(--hover-foces-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--hover-foces-color);
}

.clients-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*----footer----*/
.footer-section {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.main-footer-conteiner {
  align-items: baseline;
  display: flex;
}
.address-section {
  margin-top: 20px;
}
.address-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 9px;
  display: block;
}
.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-bottom: 9px;
}
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}
.contacts-info {
  margin-right: 70px;
}
.footer-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.footer-social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer-social-item:last-child {
  margin-right: 0;
}
.footer-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
  fill: var(--secondary-text-color);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--hover-foces-color);
}
/*----portfolio-html----*/
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-list .filter-item + .filter-item {
  margin-left: 8px;
}
.filter-btn {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  border-style: var(--secondary-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-item :hover,
.filter-item :focus {
  background-color: var(--hover-foces-color);
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----project-section----*/
.project-list {
  display: flex;
  flex-wrap: wrap;
}
.project-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.project-title-text-discription {
  padding: 20px 24px 20px 24px;
}
.project-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-text {
  position: absolute;
  top: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  justify-content: center;
  text-align: left;
  padding: 63px 24px;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: relative;
  overflow: hidden;
  display: flex;
}
.project-link:hover .card-text,
.project-link:focus .card-text {
  pointer-events: auto;
  transform: translateY(-100%);
}

/*----backdrop-modal----*/
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: var(--secondary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}
.modal-btn {
  cursor: pointer;
  background-color: var(--secondary-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.modal-close-icon {
  fill: currentColor;
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--hover-foces-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}
.modal-form-field {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}
.modal-form-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--hover-foces-color);
}
.modal-form-input {
  cursor: pointer;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  display: block;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--hover-foces-color);
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding: 12px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--hover-foces-color);
}
.modal-form-checkbox-label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal-form-checkbox-label::before {
  display: block;
  content: '';
  width: 16px;
  height: 15px;
  background: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../images/icon-check.svg);
  background-color: var(--hover-foces-color);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  border-color: var(--hover-foces-color);
}
.modal-form-checkbox :focus ~ .modal-form-checkbox-label ::before {
  outline: 0.2px solid var(--hover-foces-color);
}
.modal-form-checkbox-link {
  text-decoration-line: underline;
  color: var(--hover-foces-color);
}
.modal-form-btn {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  align-self: center;
}
.footer-block {
  margin-left: 93px;
}
.footer-form {
  display: flex;
  align-items: flex-end;
}
.footer-input {
  width: 358px;
  padding: 15px 16px;
  background-color: inherit;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  margin-top: 20px;
}
.footer-form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.footer-form-box {
  width: 358px;
  background-color: inherit;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  margin-left: 12px;
}
.footer-form-icon {
  margin-left: 10px;
}
